<core:wrap file="_cms/page.html" in="content_zone">

    <ar:fetch using='limb/cms/src/model/lmbCmsNode' find='by_id_or_path' target='node' first='true'>
      <find:params record_id='{$#request.id}' path='/'>
    </ar:fetch>

    <core:datasource id='node'>

    <div class="header_context">

    <h1>Структура сайта</h1>

    <div class="actions">
        <route_url params="action:create_node" extra='?popup=1&parent={$id}' class='create'>Добавить элемент</route_url>
    </div>

    <div class="breadcrumbs">
      Вы здесь: <route_url params='controller:admin_tree'>Структура сайта</route_url> /
      <list:list from='parents'>
      <list:item><core:optional for='identifier'><route_url params='id:{$id}'>{$title}</route_url> / </core:optional></list:item>
      </list:list>
      <b>{$title}</b><br />

      <core:optional for='id'>
        Путь до текущего элемента: <b>{$url_path}</b><br/>
      </core:optional>
    </div>

  </div>

  <div class="list">

    <form name='list_form' method='post'>

        <table>
           <tr>
             <th class='selector'><core:INCLUDE file='_cp/selector.html'></th>
             <th>Заголовок</th>
             <th>Идентификатор</th>
             <th>Действия</th>
           </tr>
           <list:list from='kids'>
            <list:item>
              <tr class='{$Parity}'>
                <td><input type='checkbox' name='ids[]' value='{$id}' runat='client'/></td>
                <td><route_url params="id:{$id}">{$title}</route_url></td>
                <td>{$identifier}</td>
                <td class='actions'>
                  <route_url params="action:edit_node,id:{$id}" extra='?popup=1'><img src='/shared/cms/images/icon/action/edit.gif' width='16' height='17' alt='Редактировать' /></route_url>
                  <route_url params="action:delete" extra='?popup=1&ids[]={$id}'><img src='/shared/cms/images/icon/action/delete.gif' width='14' height='17' alt='Удалить' /></route_url>
                </td>
              </tr>
            </list:item>
          </list:list>
        </table>

        <div class='list_actions'>
          <route_url_set field='delete_url' params="action:delete" />
          <input type="image" src="/shared/cms/images/button/delete.gif" width='54' height='19' alt='Удалить' onclick='Limb.Form.submitPopup(this.form, "{$delete_url}");return false;'/>
          <route_url_set field='move_url' params="action:move,id:{$id}" />
          <input type="image" src="/shared/cms/images/button/move.gif" width='81' height='19' alt='Переместить' onclick='Limb.Form.submitPopup(this.form, "{$move_url}");return false;'/>
        </div>

    </form>

  </div>

</core:datasource>

</core:wrap>
