<core:wrap file="_cms/page.html" in="content_zone">

<fetch using='limb/cms/src/fetcher/lmbCmsNodeFetcher' target='node' first='true' />

<h1>Site structure</h1>

<core:datasource id='node'>

You are here: <route_url params='controller:admin_tree'>Site tree</route_url> &gt;&gt;
<list:list from='parents'>
<list:item><route_url params='id:{$id}'>{$title}</route_url> &gt;&gt; </list:item>
</list:list>
<b>{$title}</b><br/>

<core:optional for='id'>
  Current node path: <b>{$url_path}</b><br/>
</core:optional>
<route_url params="action:create_node" extra='?popup=1&parent={$id}' onclick='return Limb.Http.click(this.href)'>
  <img src='/shared/cms/images/icons/create_object.gif' width='24' height='24' alt='Create' />
</route_url>

<form name='list_form' method='post'>

<list:list from='kids'>
<table cellpadding="0" cellspacing="0" class='list'>
  <thead>
   <tr>
     <th><input type='checkbox' onclick='MarkAll(checked);' name='mark_all' /></th>
     <th>Title</th>
     <th>Identifier</th>
     <th>Actions</th>
   </tr>
  </thead>
  <list:item>
    <tr>
      <td><input type='checkbox' name='ids[]' value='{$id}' class='input' runat='client'/></td>
      <td><route_url params="id:{$id}">{$title}</route_url></td>
      <td>{$identifier}</td>
      <td><route_url params="action:edit_node,id:{$id}" extra='?popup=1' onclick='return Limb.Http.click(this.href)'><img src='/shared/cms/images/icons/edit.gif' width='24' height='24' alt='Edit' /></route_url>
          <route_url params="action:delete" extra='?popup=1&ids[]={$id}' onclick='return Limb.Http.click(this.href)'><img src='/shared/cms/images/icons/delete.gif' width='24' height='24' alt='Delete' /></route_url>
      </td>
    </tr>
  </list:item>
</table>
  <br/>
  <route_url_set field='delete_url' params="action:delete" />
  <input type='submit' value='Delete' onclick='Limb.Form.submit(this.form, "{$delete_url}?popup=1");return false;'/>

  <route_url_set field='move_url' params="action:move,id:{$id}" />
  <input type='submit' value='Move' onclick='Limb.Form.submit(this.form, "{$move_url}?popup=1");return false;'/>
</list:list>

</form>

</core:datasource>

</core:wrap>
