<core:wrap file="_cms/page.html" in="content_zone">

<fetch using='src/fetcher/NodeFetcher' target='node' first='true' />

<h1>Site tree</h1>

<core:datasource id='node'>

You're here: <route_url>Site tree</route_url> &gt;&gt;
<list:list from='parents'>
<list:item><route_url params='id:{$id}'>{$title}</route_url> &gt;&gt; </list:item>
</list:list>
<b>{$title}</b><br/>

<core:optional for='id'>
  Current object uri: <b>{$url_path}</b><br/>
</core:optional>
<route_url params="action:create_node" extra='?popup=1&parent={$id}' onclick='return Limb.Http.click(this.href)' alt='Create' title='Create'><img src='/shared/cms/icons/create.gif' width='24' height='24'/>Create new node</route_url>

<form name='list_form' method='post'>

<list:list from='kids'>
<table cellpadding="0" cellspacing="0" class='list'>
   <tr class='header'>
     <th><core:include file='_cms/selector.html'/></th>
     <th>Title</th>
     <th>Identifier</th>
     <th>Object</th>
     <th>Actions</th>
   </tr>
  <list:item>
    <tr>
      <td class='left'><input type='checkbox' name='ids[]' value='{$id}' class='input' runat='client'/></td>
      <td><route_url params="id:{$id}">{$title}</route_url></td>
      <td>{$identifier}</td>
      <td>{$object_class.title}</td>
      <td><route_url params="action:edit_node,id:{$id}" extra='?popup=1' onclick='return Limb.Http.click(this.href)' alt='Edit' title='Edit'><img src='/shared/cms/icons/edit.gif' width='24' height='24' /></route_url>
          <route_url params="action:delete" extra='?popup=1&ids[]={$id}' onclick='return Limb.Http.click(this.href)' alt='Delete' title='Delete'><img src='/shared/cms/icons/delete.gif' width='24' height='24' /></route_url>
      </td>
    </tr>
  </list:item>
</table>
  <br/>
  <route_url_set field='delete_url' params="action:delete" />
  <input type='submit' value='Delete' onclick='Limb.Form.submit(this.form, "{$delete_url}?popup=1");return false;'/>

  <route_url_set field='move_url' params="action:move,id:{$id}" />
  <input type='submit' value='Move' onclick='Limb.Form.submit(this.form, "{$move_url}?popup=1");return false;'/>
</list:list>

</form>

</core:datasource>

</core:wrap>
