<core:wrap file="_cp/popup.html" in="content_zone">

  <h1>Переместить элементы сайта</h1>

  <active_record:fetch class_path='limb/cms/src/model/lmbCmsNode' target="items_to_move">
    <fetch:param record_ids="{$#request.ids}">
  </active_record:fetch>

  <div class="list">

    <form id='tree_form' name='tree_form' method='post' runat='server'>

      <core:include file='_cp/parent_select.html'/>

      <table>
      <tr>
        <th class='selector'><core:INCLUDE file='_cp/selector.html'></th>
        <th>Заголовок</th>
      </tr>
      <list:list id='items_to_move'>
        <list:ITEM>
        <tr class='{$Parity}'>
          <td class='selector'><input type='checkbox' name='ids[]' value='{$id}'/></td>
          <td>{$title}</td>
        </tr>
        </list:ITEM>
      </list:LIST>
      </table>

      <core:include file='_cp/move_common_elements.html'/>

    </form>

  </div>

</core:wrap>
