<core:wrap file="_cms/popup.html" in="content_zone">

<h1>Create news folder</h1>

<form id='news_folder_form' name='news_folder_form' method='post' runat='server'>

<core:include file='_cms/form_errors.html'/>

<div class="fields">

<div class="field">
  <label for="auto_identifier">Генерировать идентификатор</label>
  <input type="checkbox" name="auto_identifier" id='auto_identifier' title='Генерировать идентификатор' value='1'/>
</div>

<core:include file='admin_news_folder/form_fields.html'/>

</div>

<core:include file='_cms/create_common_elements.html'/>

</form>

</core:wrap>
