<core:wrap file="_cms/page.html" in="content_zone">

<ar:fetch using='limb/cms/src/model/lmbCmsNode' find='by_id_or_path' target='node'>
  <find:params node_id='{$#request.id}' path='/files' />
</ar:fetch>

<core:datasource id='node'>

<h1>Files folder</h1>

<core:include file='_cms/node_breadcrumbs.html'/>

<ar:fetch using='limb/cms/src/model/lmbCmsNodeKids' find='immediate_children' target='subfolders'>
  <find:params parent_id='{$id}' controller='file_folder' />
</ar:fetch>

<h2>Folders list</h2>

<route_url params="controller:admin_file_folder,action:create" extra='?popup=1&parent={$id}'>
  <img src='/shared/cms/images/icons/create_object.gif' width='24' height='24' alt='Create folder' />
</route_url>

<form name='list_form' method='post'>

<list:list id='subfolders'>
<table cellpadding="0" cellspacing="0" class='list'>
  <thead>
   <tr>
     <th><input type='checkbox' onclick='MarkAll(checked);' name='mark_all' /></th>
     <th>Title</th>
     <th>Actions</th>
   </tr>
  </thead>
  <list:item>
    <tr>
      <td><input type='checkbox' name='ids[]' value='{$id}' class='input' runat='client'/></td>
      <td><route_url params='id:{$id}'>{$title}</route_url></td>
      <td><route_url params="controller:admin_file_folder,action:edit,id:{$id}" extra='?popup=1' alt='Edit' title='Edit'><img src='/shared/cms/images/icons/edit.gif' width='24' height='24' /></route_url>
          <route_url params="controller:admin_file_folder,action:delete" extra='?popup=1&ids[]={$id}' alt='Delete' title='Delete'><img src='/shared/cms/images/icons/delete.gif' width='24' height='24' /></route_url>
      </td>
    </tr>
  </list:item>
</table>
  <br/>
  <route_url_set field='delete_url' params="controller:admin_file_folder,action:delete" />
  <input type='submit' value='Delete' onclick='Limb.Form.submitPopup(this.form, "{$delete_url}");return false;'/>
</list:list>

</form>

<ar:fetch using='limb/cms/src/model/lmbCmsNodeKids' find='immediate_children' target='files' navigator='pager'>
  <find:params parent_id='{$id}' controller='file_object' />
</ar:fetch>

<core:include file='_cms/pager.html'/>

<h2>Files list</h2>

<route_url params="controller:admin_file_object,action:create" extra='?popup=1&parent={$id}'>
  <img src='/shared/cms/images/icons/create_object.gif' width='24' height='24' alt='Create file' />
</route_url>

<form name='list_form' method='post'>

<list:list id='files'>
<table cellpadding="0" cellspacing="0" class='list'>
  <thead>
   <tr>
     <th><input type='checkbox' onclick='MarkAll(checked);' name='mark_all' /></th>
     <th>Title</th>
     <th>Actions</th>
   </tr>
  </thead>
  <list:item>
    <tr>
      <td><input type='checkbox' name='ids[]' value='{$id}' class='input' runat='client'/></td>
      <td>{$title}</td>
      <td><route_url params="controller:admin_file_object,action:edit,id:{$id}" extra='?popup=1'><img src='/shared/cms/images/icons/edit.gif' width='24' height='24' alt='Edit' /></route_url>
          <route_url params="controller:admin_file_object,action:delete" extra='?popup=1&ids[]={$id}'><img src='/shared/cms/images/icons/delete.gif' width='24' height='24' alt='Delete' /></route_url>
      </td>
    </tr>
  </list:item>
</table>
  <br/>
  <route_url_set field='delete_url' params="controller:admin_file_object,action:delete" />
  <input type='submit' value='Delete' onclick='Limb.Form.submitPopup(this.form, "{$delete_url}");return false;'/>
</list:list>

</form>

</core:datasource>
</core:wrap>
