<core:set title='Elements'/>
<core:wrap file="_cms/admin_page.html" in="content">

  <div id="header_block">
    <h1>CRUD</h1>
    <route_url params='action:create'>{$'Add new element'|i18n:'cms'}</route_url>;
  </div>

  <div id="content_block">

    <div class="list">

      <list:list from='CRUD_list'>
        <table>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Actions</th>
          </tr>
          <list:item>
            <tr class='{$Parity}'>
              <td>{$id}</td>
              <td>{$title}</td>
              <td class='actions'>
                <route_url params='action:edit,id:{$id}' title="Edit"><img src='/shared/cms/images/icon/action/edit.gif' width='16' height='17' alt='Редактировать'/></route_url> |
                <route_url params='action:delete,id:{$id}' title="Delete"><img src='/shared/cms/images/icon/action/delete.gif' width='14' height='17'  alt='Удалить'/></route_url>
              </td>
            </tr>
          </list:item>
        </table>
      </list:list>

    </div>

  </div>

</core:wrap>