<core:wrap file="_cms/page.html" in="content_zone">

<ar:fetch using='limb/cms/src/model/lmbCmsNode' find='by_path' target='node'>
  <find:params path='/news' />
</ar:fetch>

<core:datasource id='node'>
<h1>News</h1>

<div class='actions'>
  <route_url params="action:edit,id:{$id}" extra='?popup=1' onclick='return Limb.Http.click(this.href)'>
    <img src='/shared/cms/images/icons/edit.gif' width='24' height='24' alt='edit'/>
  </route_url>
</div>

<h2>Folders</h2>

<div class='actions'>
<span>
<route_url params="controller:admin_news_folder,action:create" extra='?popup=1&parent={$id}' onclick='return Limb.Http.click(this.href)'>
 <img src='/shared/cms/images/icons/create_object.gif' width='24' height='24' alt='Create news folder'/>
</route_url>
</span>
</div>

<ar:fetch using='limb/cms/src/model/lmbCmsNodeKids' find='immediate_children' target='folders'>
  <find:params parent_id='{$id}' controller='news_folder' />
</ar:fetch>

<form name='list_form' method='post'>
<list:list id='folders'>
  <table class='list'>
    <thead>
      <tr>
        <th><input type='checkbox' onclick='MarkAll(checked);' name='mark_all' /></th>
        <th>Order</th>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <list:item>
      <tr>
        <td><input type='checkbox' name='ids[]' value='{$id}' class='input'/></td>
        <td><input type='text' name='priority[{$id}]' value='{$priority}' class='input' size='3'/></td>
        <td>
          <ul>
           <li><route_url params="controller:admin_news_folder,id:{$id}">{$title}</route_url></li>
           <li>URL: <a href='{$url_path}' target='_blank'>{$url_path}</a></li>
          </ul>
        </td>
        <td>
          <route_url params="controller:admin_news_folder,action:edit,id:{$id}" extra='?popup=1' onclick='return Limb.Http.click(this.href)'><img src='/shared/cms/images/icons/edit.gif' width='24' height='24' alt='Edit'/></route_url>
          <route_url params="controller:admin_news_folder,action:delete" extra='?popup=1&ids[]={$id}' onclick='return Limb.Http.click(this.href)'><img src='/shared/cms/images/icons/delete.gif' width='24' height='24'  alt='Delete'/></route_url>
        </td>
      </tr>
    </list:item>
  </table>

  <div class='list_actions'>
    <route_url_set field='delete_url' params="controller:admin_news_folder,action:delete" />
    <input type='submit' value='Delete' onclick='Limb.Form.submit(this.form, "{$delete_url}?popup=1");return false;'/>

    <route_url_set field='save_order_url' params="controller:admin_tree,action:save_priority" />
    <input type='submit' value='Save order' onclick='Limb.Form.submit(this.form, "{$save_order_url}?popup=1");return false;'/>
  </div>
</list:list>

</form>


<h2>News</h2>

<div class='actions'>
<span>
<route_url params="controller:admin_news_item,action:create" extra='?popup=1&parent={$id}' onclick='return Limb.Http.click(this.href)'>
 <img src='/shared/cms/images/icons/create_object.gif' width='24' height='24' alt='Create news'/>
</route_url>
</span>
</div>

<ar:fetch using='limb/cms/src/model/lmbCmsNodeKids' find='immediate_children' target='items'>
  <find:params parent_id='{$id}' controller='news_item' />
</ar:fetch>

<form name='list_form' method='post'>
<list:list id='items'>
<table class='list'>
  <thead>
    <tr>
      <th><input type='checkbox' onclick='MarkAll(checked);' name='mark_all' /></th>
      <th>Order</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <list:item>
    <tr>
      <td><input type='checkbox' name='ids[]' value='{$id}' class='input'/></td>
      <td><input type='text' name='priority[{$id}]' value='{$priority}' class='input' size='3'/></td>
      <td>
        <ul>
         <li>{$title}</li>
         <li>{$object.news_date|i18n_date:"", "stamp", "short_date"}</li>
         <core:optional for='image'>
         <li><img src='{$object.image.icon.show_url}' alt='{$title}'/></li>
         </core:optional>
         <li>URL: <a href='{$url_path}' target='_blank'>{$url_path}</a></li>
        </ul>
      </td>
      <td>
        <route_url params="controller:admin_news_item,action:edit,id:{$id}" extra='?popup=1' onclick='return Limb.Http.click(this.href)'><img src='/shared/cms/images/icons/edit.gif' width='24' height='24' alt='Edit'/></route_url>
        <route_url params="controller:admin_news_item,action:delete" extra='?popup=1&ids[]={$id}' onclick='return Limb.Http.click(this.href)'><img src='/shared/cms/images/icons/delete.gif' width='24' height='24'  alt='Delete'/></route_url>
      </td>
    </tr>
  </list:item>
</table>

  <div class='list_actions'>
    <route_url_set field='delete_url' params="controller:admin_news_item,action:delete" />
    <input type='submit' value='Delete' onclick='Limb.Form.submit(this.form, "{$delete_url}?popup=1");return false;'/>

    <route_url_set field='save_order_url' params="controller:admin_tree,action:save_priority" />
    <input type='submit' value='Save order' onclick='Limb.Form.submit(this.form, "{$save_order_url}?popup=1");return false;'/>
  </div>
</list:list>

</form>

</core:datasource>

</core:wrap>
