  <div id="header_block">

    <h1>Example</h1>

    <div class="header_actions">
      <a href='#'>Create example</a>
    </div>

  </div>

  <div id="content_block">

    <ar:fetch class_path='ExampleObject' target='list' order='title' navigator='pager'/>
    <core:include file='_cms/pager.html'/>

    <core:INCLUDE file='_cms/notify_zone.html'/>

    <div class="filter">

      <form id='filter_form' name='filter_form' runat='server' method='post'>

        <div class="field">
          <label for='status'>Search:</label>
          <input type="text" name="Search" id="Search" />
          &nbsp;&nbsp;
          <input type="submit" name='submitted' value='Применить' class='button'>
        </div>

      </form>

    </div>


    <form name='list_form' method='post' class="list">

        <div class='list_actions'>
          <route_url_set field='delete_url' params="action:delete" />
          <input type="button" class='button' value='Delete' onclick='Limb.Form.submitPopup(this.form, "{$delete_url}");return false;'/>

          <route_url_set field='approve_url' params="action:approve" />
          <input type="button" class='button' value='Approve' onclick='Limb.Form.submit(this.form, "{$approve_url}");return false;'/>
        </div>

        <table>
          <tr>
            <th class='selector'><core:INCLUDE file='_cms/selector.html'></th>
            <th width='100%'>Name</th>
            <th>Actions</th>
          </tr>
          <list:list id='list'>
            <list:item>
              <tr class='{$Parity}'>
                <td class='selector'><input type='checkbox' name='ids[]' value='{$id}' runat='client'/></td>
                <td>{$title}</td>
                <td class='actions'>
                  <route_url params="controller:admin_city,action:edit,id:{$id}" extra='?popup=1' alt='Edit'><img src='/shared/cms/images/icon/action/edit.gif' width='16' height='17' alt='Edit'/></route_url>
                  <route_url params="controller:admin_city,action:delete" extra='?popup=1&ids[]={$id}' alt='Delete'><img src='/shared/cms/images/icon/action/delete.gif' width='14' height='17'  alt='Delete'/></route_url>
                </td>
              </tr>
            </list:item>
          </list:list>
        </table>

        <div class='list_actions'>

          <route_url_set field='delete_url' params="controller:admin_city,action:delete" />
          <input type="button" class='button' value='Delete' onclick='Limb.Form.submitPopup(this.form, "{$delete_url}");return false;'/>

          <route_url_set field='approve_url' params="action:" />
          <input type="button" class='button' value='Approve' onclick='Limb.Form.submit(this.form, "{$approve_url}");return false;'/>

        </div>

    </form>

    <core:include file='_cms/pager_mirror.html'/>

  </div>

</core:wrap>
