<core:include file='_cms/form_errors.html'/>
<div class='tabs'>

  <ul>
    <li id='properties'><a>Property</a></li>
    <li id='content'><a>Text</a></li>
  </ul>

  <div id="tab_properties">

    <div class="required field">
      <label for="identifier">Identifier</label>
      <input type="text" name="identifier" id='identifier' size="40" title='Identifier'/>
    </div>

    <div class="required field">
      <label for="title">Title</label>
      <input type="text" name="title" size="40" title='Title'/>
    </div>

    <div class="field">
      <label for="annotation">Annotation</label>
      <textarea name="annotation" title='Annotation'></textarea>
    </div>

  </div>

  <div id="tab_content">
    <wysiwyg id='content' name='content' width='100%' height='310' title="Content"></wysiwyg>
  </div>

</div>