<core:wrap file="_cms/popup.html" in="content_zone">

<h1>Смена пароля</h1>

<ul class="bookmarks">
  <li id='properties_link'><a>Свойства</a></li>
</ul>

<form id='user_form' name='user_form' method='post' runat='server'>

  <core:include file='_cp/form_errors.html'/>

  <div class='bookmarks_content'>


      <div class='fields'>
        <label for="password">Новый пароль:</label>
        <input name="password" type="password" title="Новый пароль" class='input'/>
      </div>

      <div class='fields'>
        <label for="repeat_password">Подтверждение пароля:</label>
        <input name="repeat_password" type="password" title="Подтверждение пароля" class='input'/>
      </div>

  </div>

  <div class='form_buttons'>
    <input type="image" src="/shared/cms/images/button/password.gif" width='95' height='19' name="submitted" alt="Сменить пароль"/>
  </div>

</form>


</core:wrap>

