<core:wrap file="_cms/popup.html" in="content_zone">

<h1>Change user password</h1>

<ul class="bookmarks">
  <li id='properties_link'><a>Properties</a></li>
</ul>

<form id='user_form' name='user_form' method='post' runat='server'>

  <core:include file='_cms/form_errors.html'/>

  <div class='bookmarks_content'>


      <div class='fields'>
        <label for="password">New password:</label>
        <input name="password" type="password" title="New password" class='input'/>
      </div>

      <div class='fields'>
        <label for="repeat_password">Confirm password:</label>
        <input name="repeat_password" type="password" title="Confirm new password" class='input'/>
      </div>

  </div>

  <div class='form_buttons'>
    <input type="image" src="/shared/cms/images/button/password.gif" width='95' height='19' name="submitted" alt="Change password"/>
  </div>

</form>


</core:wrap>

