<core:wrap file="_cms/popup.html" in="content_zone">

  <form id='user_form' name='user_form' method='post' runat='server'>

    <h1>Change user password</h1>

    <core:include file='_cms/form_errors.html'/>

    <div class='tabs'>

      <ul class="bookmarks">
        <li id='properties_link'><a>Properties</a></li>
      </ul>

      <div id="tab_properties" class='bookmarks_content'>

          <div class='field'>
            <label for="password">New password:</label>
            <input name="password" type="password" title="New password" class='input'/>
          </div>

          <div class='field'>
            <label for="repeat_password">Confirm password:</label>
            <input name="repeat_password" type="password" title="Confirm new password" class='input'/>
          </div>

      </div>

    </div>

    <div class='form_buttons'>
      <input type="submit" name="submitted" class='button' value="Change password"/>
    </div>

  </form>


</core:wrap>

