<ul class="bookmarks">
  <li id='properties_link'><a>Свойства</a></li>
</ul>

<div id="bookmark_properties" class='bookmarks_content'>

  <div class="left_side">

  <core:include file='admin_user/common_fields.html'/>

  </div>

  <div class="right_side">

  <div class='required field'>
    <label for="password">Пароль:</label>
    <input name="password" type="password" title="Пароль"/>
  </div>

  <div class='required field'>
    <label for="repeat_password">Повторение пароля:</label>
    <input name="repeat_password" type="password" title="Повторение пароля"/>
  </div>

  </div>

</div>
