<core:wrap file="_cms/page.html" in="content_zone">

   <div id="header_block">

      <h1>{$'Users list'|i18n:'cms'}</h1>

      <div class="header_actions">
        <route_url params="action:create" extra='?popup=1' class='create'>{$'Add user'|i18n:'cms'}</route_url>
      </div>

    </div>

    <div id="content_block">

      <active_record:fetch class_path='limb/cms/src/model/lmbCmsUser' target="users" order="email=ASC" navigator="pager"/>
      <core:include file='_cms/pager.html'>

      <form name='list_form' method='post' class='list'>

        <div class='list_actions'>
          <route_url_set field='delete_url' params="action:delete" />
          <input type="button" class='button' value="{$'Delete'|i18n:'cms'}" onclick='Limb.Form.submitPopup(this.form, "{$delete_url}");'/>
        </div>

        <table>
          <tr>
            <th class='selector'><core:INCLUDE file='_cms/selector.html'></th>
            <th>#ID</th>
            <th>Name</th>
            <th>Login</th>
            <th>E-mail</th>
            <th>Role</th>
            <th>Actions</th>
          </tr>
          <list:LIST id='users'>
            <list:ITEM>
            <tr class='{$Parity}'>
              <td class='selector'><input type='checkbox' name='ids[]' value='{$id}' runat='client'/></td>
              <td>#{$id}</td>
              <td>{$name}</td>
              <td>{$login}</td>
              <td><a href='mailto:{$email}'>{$email}</a></td>
              <td>{$current_role.name}</td>
              <td class='actions'>
                  <route_url params='action:change_password,id:{$id}' extra='?popup=1' title="Change password"><img src='/shared/cms/images/icon/action/password.gif' width='14' height='16' alt='Сменить пароль'/></route_url>
                  <route_url params="action:edit,id:{$id}" extra='?popup=1' title="Edit"><img src='/shared/cms/images/icon/action/edit.gif' width='16' height='17' alt='Редактировать'/></route_url>
                  <route_url params="action:delete" extra='?ids[]={$id}&popup=1' title="Delete"><img src='/shared/cms/images/icon/action/delete.gif' width='14' height='17'  alt='Удалить'/></route_url>
              </td>
            </tr>
            </list:ITEM>
          </list:LIST>
        </table>

        <div class='list_actions'>
          <route_url_set field='delete_url' params="action:delete" />
          <input type="button" class='button' value="{$'Delete'|i18n:'cms'}" onclick='Limb.Form.submitPopup(this.form, "{$delete_url}");'/>
        </div>

      </form>

    </div>

</core:wrap>
