<core:wrap file="_cms/page.html" in="content_zone">

   <div class="header_context">

    <h1>Список пользователей</h1>

      <div class='actions'>
        <route_url params="action:create" extra='?popup=1' class='create'>Добавить пользователя</route_url>
      </div>

      <active_record:fetch class_path='src/model/rtUser' target="users" order="email=ASC" navigator="pager"/>
      <core:include file='_cp/pager.html'>

    </div>

    <div class="list">

      <form name='list_form' method='post'>

        <div class='list_actions_top'>
          <route_url_set field='delete_url' params="action:delete" />
          <input type="image" src="/shared/cms/images/button/delete.gif" width='54' height='19' alt='Удалить' onclick='Limb.Form.submitPopup(this.form, "{$delete_url}");return false;'/>
        </div>
        <table>
          <tr>
            <th class='selector'><core:INCLUDE file='_cp/selector.html'></th>
            <th>#ID</th>
            <th>ФИО</th>
            <th>Login</th>
            <th>E-mail</th>
            <th>Роль</th>
            <th>Действия</th>
          </tr>
          <list:LIST id='users'>
            <list:ITEM>
            <tr class='{$Parity}'>
              <td class='selector'><input type='checkbox' name='ids[]' value='{$id}' runat='client'/></td>
              <td>#{$id}</td>
              <td>{$full_name}</td>
              <td>{$login}</td>
              <td><a href='mailto:{$email}'>{$email}</a></td>
              <td>{$current_role.name}</td>
              <td class='actions'>
                  <route_url params='action:change_password,id:{$id}' extra='?popup=1' title="Сменить пароль"><img src='/shared/cms/images/icon/action/password.gif' width='14' height='16' alt='Сменить пароль'/></route_url>
                  <route_url params="action:edit,id:{$id}" extra='?popup=1' title="Редактировать"><img src='/shared/cms/images/icon/action/edit.gif' width='16' height='17' alt='Редактировать'/></route_url>
                  <route_url params="action:delete" extra='?ids[]={$id}&popup=1' title="Удалить"><img src='/shared/cms/images/icon/action/delete.gif' width='14' height='17'  alt='Удалить'/></route_url>
              </td>
            </tr>
            </list:ITEM>
          </list:LIST>
        </table>

        <div class='list_actions'>
          <route_url_set field='delete_url' params="action:delete" />
          <input type="image" src="/shared/cms/images/button/delete.gif" width='54' height='19' alt='Удалить' onclick='Limb.Form.submitPopup(this.form, "{$delete_url}");return false;'/>
        </div>

      </form>

    </div>

</core:wrap>
