  <core:include file='_cms/form_errors.html'/>

  <div class="field">
    <label for="title">Title</label>
    <input type="text" name="title" size="40" title='Title' class='req'/>
  </div>

  <core:optional for='item.original'>
    <a href='{$item.original.show_url}' target='_blank'>Download...</a>
  </core:optional>
  <p/>
  <div class="field" >
  <label for="original_image" runat="server">Original image file</label>
  <input id="original_image" name="original_image" type="file" size="60"/>
  <br/>
  <label for="original_size" runat="server">Shrink/Extend</label>
  <input id="original_size" name="original_size" type="text" size="3"/> px
  </div>
  <p/>

  <core:optional for='item.thumbnail'>
    <a href='{$item.thumbnail.show_url}' target='_blank'>Download...</a>
  </core:optional>
  <p/>
  <div class="field" >
  <label for="thumbnail_image" runat="server">Thumbnail image file</label>
  <input id="thumbnail_image" name="thumbnail_image" type="file" size="60"/>
  <br/>
  <label for="thumbnail_size" runat="server">Shrink/Extend</label>
  <input id="thumbnail_size" name="thumbnail_size" type="text" size="3"/> px
  </div>
  <p/>

  <core:optional for='item.icon'>
    <a href='{$item.icon.show_url}' target='_blank'>Download...</a>
  </core:optional>
  <p/>
  <div class="field" >
  <label for="icon_image" runat="server">Icon image file</label>
  <input id="icon_image" name="icon_image" type="file" size="60"/>
  <br/>
  <label for="icon_size" runat="server">Shrink/Extend</label>
  <input id="icon_size" name="icon_size" type="text" size="3"/> px
  </div>
  <p/>
