<core:wrap file="_cms/popup.html" in="content_zone">

  <h1 class='delete'>Удалить элементы навигации</h1>

  <active_record:fetch class_path='limb/cms/src/model/lmbCmsNode' target="items_to_delete">
    <fetch:param record_ids="{$#request.ids}">
  </active_record:fetch>

  <form id='delete_form' name='delete_form' method='post' runat='server' class='list'>

    <table>
    <tr>
      <th>Выбор</th>
      <th>Заголовок</th>
    </tr>
    <list:list id='items_to_delete'>
      <list:ITEM>
      <tr class='{$Parity}'>
        <td><input type='checkbox' name='ids[]' value='{$id}' checked='true'/></td>
        <td>{$title}</td>
      </tr>
      </list:ITEM>
    </list:LIST>
    </table>

    <core:include file='_cms/delete_common_elements.html'>

  </form>





</core:wrap>
