<core:INCLUDE file='_cms/form_errors.html'>

<div class='tabs'>

  <ul>
    <li id='properties'><a>Свойства</a></li>
  </ul>

  <div id="tab_properties">

    <core:default for='id'>
        <div class="field required">
          <label for="auto_identifier" runat="server" class='title'>Генерировать идентификатор</label><br />
          <input type="checkbox" name="auto_identifier" id='auto_identifier' title='Генерировать идентификатор' value='1'/>
        </div>
    </core:default>

    <div class="field">
      <label for="identifier" runat="server" class='title'>Идентификатор</label>
      <input type="text" name="identifier" title='Идентификатор' class='width100'/>
    </div>

    <div class="field">
      <label for="title" runat="server" class='title'>Заголовок</label>
      <input type="text" name="title" size="40" title='Заголовок' class='width100'/>
    </div>

    <div class="field">
      <label for="url" runat="server" class='title'>URL</label>
      <input type="text" name="url" size="40" title='URL' class='width100'/>
    </div>

  </div>

</div>

