  <div class="required field">
    <label for="title">Title</label>
    <input type="text" name="title" size="40" title='Заголовок'/>
  </div>

  <div class="field" >
    <label for="local_news_date" runat="server">Date</label>
    <limb:calendar name="news_date" theme="ru" plugin="plugins_time_ru.js" calendar_id='local_news_date' id="news_date" class='req' title="Date">
  </div>

  <core:include file='_cms/image_select.html' />

  <div class="field">
    <label for="annotation">Annotation</label>
    <textarea name="annotation" cols='40' rows='5' title='Annotation'></textarea>
  </div>

  <div class="field">
    <label for="content">Content</label>
    <wysiwyg name="content" cols='60' rows='10' title='Content'></wysiwyg>
  </div>
