
<core:wrap file="_cms/page.html" in="content_zone">
<core:wrap file='_cms/central_part.html'>

<core:wrap in='title_zone'>Media list</core:wrap>

<core:wrap in='actions'>
    <route_url params="action:create" extra='?popup=1'>Create media</route_url>
</core:wrap>

  <core:wrap in='table'>

    <active_record:fetch class_path='src/model/Media' target="media" />
    <list:LIST id='media'>
      <form name='list_form' method='post'>
      <table cellpadding="0" cellspacing="0" class="list">
        <tr class="header">
          <th class="left"><img src='/images/icon/selectall.gif'/>&nbsp;<input type='checkbox' onclick='MarkAll(checked);' name='mark_all'/></th>
          <th>Title</th>
          <th class="right">Actions</th>
        </tr>
      <tbody>
        <list:ITEM>
        <tr>
          <td class="left">
            <input type='checkbox' name='ids[]' value='{$id}' class='input' runat='client'/>
          </td>
          <td>{$title}</td>
          <td align="center">
            <route_url params="action:edit,id:{$id}" extra='?popup=1' title="Edit"><img alt="Edit" title="Edit" src="/shared/cms/icons/edit.gif"/></route_url>
            <route_url params="action:delete" extra='?ids[]={$id}&popup=1' title="Delete"><img alt="Delete" title="Delete" src="/shared/cms/icons/delete.gif"/></route_url>
          </td>
        </tr>
        </list:ITEM>
      </tbody>
      </table>
      <br/>
      <route_url_set field='delete_url' params="action:delete" />
      <input type='submit' value='Delete' onclick='Limb.Form.submitPopup(this.form, "{$delete_url}");return false;'/>
      </form>
    </list:LIST>
  </core:wrap>


</core:wrap>
</core:wrap>
