/*MICS*/
  .bookmarks {zoom:1;}
    .bookmarks li a {display:inline;zoom:1;}
  .clearFix {zoom:1;}
  .list {zoom:1;}
    .list th, .list td {scrollbar-face-color: expression(runtimeStyle.scrollbarFaceColor = '#fff', (this == parentNode.firstChild) ? className += ' first-child' : '', (this == parentNode.lastChild) ? className += ' last-child' : '')}
    .list td.last-child a {zoom:1;}
    .list_actions {zoom:1;margin-left:0;}
    .list .list_actions {scrollbar-face-color: expression(runtimeStyle.scrollbarFaceColor = '#fff', (this == parentNode.lastChild) ? className += ' actions-last-child' : '')}
      .list .actions-last-child {margin:-1px 0 0;}
  .list_actions {zoom:1;}
  .field {zoom:1;}
  .filter {zoom:1;scrollbar-face-color: expression(runtimeStyle.scrollbarFaceColor = '#fff', (this == parentNode.lastChild) ? className += ' filter-last' : '')}
    .filter-last {border-width:0 1px 1px;margin-bottom:64px;}
    .filter-last .toggler {top:auto;bottom:-25px;background-position:0 -24px;}
    .filter-last .toggler span {background-position:right -72px ;}
    .filter-last .closingToggler span {background-position:right -72px;}
    .filter-last .openingToggler span {background-position:right -24px;}
  .flashbox li {scrollbar-face-color: expression(runtimeStyle.scrollbarFaceColor = '#fff', (this == parentNode.lastChild) ? className += ' last-child' : '')}
  .form_buttons {zoom:1;}
  .magnifier {filter:alpha(opacity=7);}

/*LAYOUT*/
  #admin_panel #user_data li {scrollbar-face-color: expression(runtimeStyle.scrollbarFaceColor = '#fff', (this == parentNode.lastChild) ? className += ' last-child' : '')}

  #admin_panel #user_data .last-child {padding:0;background:none;}

  #header {zoom:1;}

  #main_col_content {zoom:1;}

  #main_menu dd {zoom:1;}

  #sidebar .sidebar_toggler .arrow {margin-top:-0.6em;}
    .hiddenSidebar#wrapper .sidebar_toggler .arrow {margin-left:-0.5em;}

  .button_wrapper  {padding:0 0 0 2px;}
    .button_wrapper input[type="button"], .button_wrapper input[type="submit"]  {padding:0;font-size:12px;}


