<core:WRAP file="page.html" in="page_placeholder">

<div class='search'>
<form id='search_form' name='search' method='get' runat='server'>
 <input type='text' name='query_string' value="{$'Search'|i18n}"/>
 <input type='hidden' name='submitted' value='1' runat='client'/>
 <input type='submit' value="{$'Search'|i18n}" runat='client'/>
</form>
</div>
<fetch using='limb/search/src/fetcher/lmbSearchFetcher' target="search_result">
</fetch>

<list:LIST id="search_result">
  <list:ITEM>
    <p/>
    {$ListRowNumber})
      <a id="display_{$id}" href='{$uri}' target='_blank'>{$title}</a><br/>
    {$uri}<br/>
    {$content|raw}
  </list:ITEM>
</list:LIST>

</core:WRAP>
