<html>

  <head>
    <base href="{$'LIMB_HTTP_BASE_PATH'|const}" />
    <title>Admin page</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
  	
  	<link rel="stylesheet" type="text/css" href="/shared/cms/styles/yui/reset-min.css"/>	
  	<link rel="stylesheet" type="text/css" href="/shared/cms/styles/yui/fonts-min.css"/>	
  </head>
  
  <body>
        
    <div id="header">
      <h1>{$title}</h1>		
      <core:include file='flash_box.html' />   
  	</div>
    
    <div id="content">
      <core:placeholder id='content'/>
    </div>
    
  </body>
  
</html>