<form:errors target='fields_errors'/>
  <list:list id='fields_errors'>
   <div class="message_error"> 
    <a class='show_hidden'><img src="/images/_cp/button/show_hidden.gif"  width='11' height='9' alt='показать/скрыть'/></a>
    <b class='title'>Следующие поля содержали ошибки</b>
    <span class='border_h'><span class='l'></span><span class='r'></span></span>
    <div class="border_c">
      <div class="content">
        <ol>
          <list:item>
            <li><font color="red">{$message}</font></li>
          </list:item>
        </ol>
      </div>
    </div>
    <span class='border_b'><span class='l'></span><span class='r'></span></span>
  </div>
</list:list>
