<script src="/shared/js/prototype.js"></script>
<script src="/shared/js/Limb.js"></script>
<script src="/shared/js/Limb/browser.js"></script>
<script src="/shared/js/Limb/events.js"></script>
<script src="/shared/js/Limb/http.js"></script>
<script src="/shared/js/Limb/window.js"></script>
<script src="/shared/js/Limb/forms.js"></script>
<script src="/shared/js/Limb/form_elements.js"></script>
<script src="/shared/js/scriptaculous/scriptaculous.js"></script>

<script src="/shared/cms/js/cp.js"></script>
<script src="/shared/cms/js/yui/utilities_2.1.0.js"></script>
<script src="/shared/cms/js/yui/yui-ext.js"></script>
