<script src="/shared/js/js/jquery.js"></script>
<script src="/shared/js/js/limb.js"></script>
<script src="/shared/js/js/limb/url.js"></script>
<script src="/shared/js/js/limb/flash.js"></script>
<script src="/shared/js/js/limb/window.js"></script>
<script src="/shared/js/js/limb/forms.js"></script>
<script src="/shared/js/js/limb/form_elements.js"></script>
<script src="/shared/js/js/limb/auto_popup.js"></script>
<script src="/shared/cms/js/tabs.js"></script>
<script src="/shared/cms/js/auto_tabs.js"></script>
<script src="/shared/cms/js/cp.js"></script>
