<dl id='main-menu'>
  <dt>Общее</dt>
  <dd>
    <ul>
      <li><a href='/admin_ingredient'>Ингредиенты</a></li>
      <li><a href='/admin_award'>Награды</a></li>
    </ul>
  </dd>
  <dt>Каталог</dt>
  <dd>
    <ul>
      <li><a href='/admin_catalog_folder'>Каталог</a></li>
      <li><a href='/admin_certificate'>Сертификаты</a></li>
    </ul>
  </dd>
  <dt>Консультант</dt>
  <dd>
    <ul>
      <li><a href='/admin_article_folder'>Статьи</a></li>
      <li><a href='/admin_article_topic'>Темы статей</a></li>
      <li><a href='/admin_faq'>Вопрос-ответ</a></li>
    </ul>
  </dd>
  <dt>Медиа</dt>
  <dd>
    <ul>
      <li><a href='/admin_file_folder'>Репозиторий файлов</a></li>
      <li><a href='/admin_image_folder'>Репозиторий изображений</a></li>
    </ul>
  </dd>
  <dt>Управление сайтом</dt>
  <dd>
    <ul>
      <li><a href='/admin_tree'>Структура сайта</a></li>
    </ul>
  </dd>
</dl>

