<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Powered by LIMB | http://www.limb-project.com/ -->
<!-- Designed by BIT | http://www.bit-creative.com/ -->
<core:SET title="Панель управления">
<html>
<head>
  <title>{$#title}</title>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>

  <core:INCLUDE file='_cms/styles.html'/>
  <core:INCLUDE file='_cms/js.html'/>
  <script type="text/javascript" src="/shared/cms/js/accordion.js"></script>
</head>
<body>
<div id="wrapper">

  <div id='admin_panel'>
    <img src="/shared/cms/images/limb_admin.gif"  width='94' height='25' alt='LIMB' id='logo_project'/>
    <core:INCLUDE file='_cms/user_data.html'/>
  </div>

  <div id='container'>
    <div id="content">
      <core:PLACEHOLDER id='content_zone'/>
    </div>
  </div>

  <div id='sidebar'>
    <core:INCLUDE file='_cms/menu.html'/>
  </div>

</div>

</body>
</html>

