<core:optional for='HasMoreThanOnePage'>
<div class='pager'>
  <pager:FIRST><a href='{$href}' class='arr'><img src="/images/_cp/button/arrow_first.gif"  width='18' height='17' alt='&#171;'/></a></pager:FIRST>
  <pager:prev><a href='{$href}' class='arr'><img src="/images/_cp/button/arrow_prev.gif"  width='18' height='17' alt='&#60;'/></a></pager:prev>
  <pager:LIST>
    <pager:current><b>{$number}</b></pager:current>
    <pager:number><a href="{$href}">{$number}</a></pager:number>
    <pager:elipses><span>.....</span></pager:elipses>
    <pager:separator> </pager:separator>
  </pager:LIST>
  <pager:next><a href="{$href}"><img src="/images/_cp/button/arrow_next.gif"  width='18' height='17' alt='&#62;'/></a></pager:next>
  <pager:last><a href="{$href}"><img src="/images/_cp/button/arrow_last.gif"  width='18' height='17' alt='&#187;'/></a></pager:last>
</div>
</core:optional>