<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<!-- Powered by LIMB | http://www.limb-project.com/ -->
<!-- Designed by BIT | http://www.bit-creative.com/ -->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<core:INCLUDE file='_cms/styles.html'/>
<core:INCLUDE file='_cms/js.html'/>
</head>
<body class='popup'>
  <core:PLACEHOLDER id="icon"/>
  <core:PLACEHOLDER id="title"/>
  <core:PLACEHOLDER id="content_zone"/>
</body>
</html>
