
<table width=100% border=0 cellspacing=0 cellpadding=0>
<tr>
  <td style='padding:0 20px 0 20px'>
    <table width=1000 border=0 cellspacing=0 cellpadding=0>
    <tr>
      <td class=tabs>
        <table border=0 cellspacing=0 cellpadding=0>
        <tr>

          <td><img src='/images/img/tab/1.gif'/></td>
          <td class=label><a href='/admin_ingredient'>Игредиенты</a></td>
          <td><img src='/images/img/tab/2.gif'/></td>
          <td><img src='/images/1x1.gif' width=3/></td>

          <td><img src='/images/img/tab/1.gif'/></td>
          <td class=label><a href='/admin_certificate'>Сертификаты</a></td>
          <td><img src='/images/img/tab/2.gif'/></td>
          <td><img src='/images/1x1.gif' width=3/></td>

          <td><img src='/images/img/tab/1.gif'/></td>
          <td class=label><a href='/admin_award'>Награды</a></td>
          <td><img src='/images/img/tab/2.gif'/></td>
          <td><img src='/images/1x1.gif' width=3/></td>

          <td><img src='/images/img/tab/1.gif'/></td>
          <td class=label><a href='/admin_catalog_folder'>Разделы каталога</a></td>
          <td><img src='/images/img/tab/2.gif'/></td>
          <td><img src='/images/1x1.gif' width=3/></td>

        </tr>
        </table>
      </td>
    </tr>
    </table>
  </td>
</tr>
</table>
