/*page*/
  html, body {width:100%;height:100%;}
  body {padding:0; margin:0;background: #fff;}
  body#publishing_mode {background:#c5c9d2;}
  body#login_form {background:#D9D9D9 url(../images/bgr/login_page.png) repeat-x scroll left top;}

/*design*/
  a img{border:0;}

/*navigation*/
  a {font:1em/1.5em arial, sans-serif;color:#0c4ea6;text-decoration:underline;}
  a:hover {text-decoration:none;}

/*TAGS*/
  h1 {margin:10px 0 0.4em;padding: 0;font:normal 1.75em Tahoma, arial, sans-serif;color:#010101;line-height:20px;}
    #header_block h1 {margin:0 0 20px;font-weight:normal;font-size:2em;}
    #login_form h1 {margin:0 0 20px;line-height:1em;}
    #popup_wrapper h1 {margin:15px 9px 1em;}
    h1 small {font-size:8pt;font-weight:normal;}
  h2{margin:0 0 0.4em;padding: 0;font:normal 1.7em Tahoma, arial, sans-serif; color:#010101;}
  h3{margin: 0;padding:0;font:1.4em Tahoma, arial, sans-serif;color:#010101;}
  h4{margin:0;padding: 0;font:normal 1.2em Tahoma, arial, sans-serif;color:#010101;}
  dl, dt, dd, form {margin:0;padding: 0;}
  input {margin:0;vertical-align:middle;}
  p {margin: 0;padding:5px 0;}
  select {vertical-align:middle;}
  table {empty-cells:show;border-spacing: 0;border-collapse: collapse;}
  table td {padding:0;text-align:left;vertical-align:top;}
  ul {margin: 0;padding: 10px 20px;}

/*FONT*/
  html {font-size:100%;}
  body {font:62.5%/1.5 arial, sans-serif; color:#010101}
  table, td, th, ul, textarea, input, select {font: 1em/1.5 arial, sans-serif;}
  #admin_panel, #admin_panel a {color:#fff;}
  #light_version {text-decoration:none;}
  #login_form_wrapper {font-size:1.2em;}
    #login_form .forgot_password_link {font-size:0.9em;}
  #main_menu {color:#444;}
    #main_menu a {color:#444;text-decoration:none;}
      #main_menu a:hover {text-decoration:underline;}
    #main_menu dt {font-size:1.16em;color:#000;}
      #main_menu dt.current {color:#fff;}
      #main_menu ul li {font-size:0.92em;}
        #main_menu ul li.current a {color:#fff;}
    #context_help dt {font-size:1.16em;color:#000;}
  #popup_wrapper {font-size:1.2em;}
  #sidebar .sidebar_toggler {font-size:0.92em;font-weight:bold;line-height:1.2em;}
    #sidebar .sidebar_toggler .arrow {font-size:1.6em;}
      #sidebar .sidebar_toggler:hover .arrow {color:#f26522;}
    .hiddenSidebar#wrapper #sidebar .sidebar_toggler .arrow {font-size:2.2em;}
  #wrapper {font-size:1.2em;}
  .breadcrumbs {font-size:0.83em;}
  .bookmarks a {font-weight:bold;color:#666666;text-decoration:none;}
    .bookmarks a:hover {text-decoration:underline;}
    .bookmarks .active a {color:#fff;}
    .bookmarks .active a:hover {text-decoration:none;}
  .flashbox {font:0.9em Arial;}
    .flashbox a {color:#666666;text-decoration:none; cursor: pointer;}
    .flashbox a:hover{text-decoration: underline;}
  .filter .toggler {font-size:0.92em;font-weight:bold;text-decoration:none;color:#333;}
  .header_actions a {font-weight:bold;}
  .hint {font-size:0.9em;color:#7D7D7D;}
  .pager {color:#7d7d7d;}
    .pager b {font-weight:bold;color:#fff;}
    .pager a {color:#00529b;}
  #forgot_password_comment{font-size:0.9em;}

/*Misc*/
  .breadcrumbs {clear:both; margin:10px 0 5px 1em;}
  .clearing {clear: both;height:0;font-size:0;overflow:hidden;}
  .clearFix:after {content: '.';display: block;clear:both;visibility: hidden;height:0;font-size:0;}
  .empty_list {clear:both;margin:0;padding:13px 10px;background-color:#e5e5e5;border:1px solid #bbbbbb;}
    #body .empty_list {margin-bottom:4.8em;}
  .hint {margin:0;padding:0;}
  .hidden {display:none;}
  .left_side {float:left;width:47.9%;margin-right:4%;}
  .magnifier {background: #fff;display:block;position:relative;width:13px;height:13px;padding:3px;margin:0 0 -16px 0;-moz-opacity: 0.7;-khtml-opacity: 0.7;opacity: 0.7;}
  .right_side {float:right;width:47.9%}
  .floating_img {position:absolute;top:0;left:0;display:none;}
  #show_flaoting_img{margin:0 0 0 25px;text-decoration:none;border-bottom:1px dashed;font-size:0.9em;}
  #light_version {float:left;margin:9px 0 0 80px;padding:0 0 0 20px;background: url(../images/icons/lightbulb_off.png) no-repeat left top;}
    .enabled#light_version {background: url(../images/icons/lightbulb.png) no-repeat left top;}

  /*FLASH BOX*/
    .flashbox {position:fixed;top:10px;left:50%;z-index:4000;width:500px;margin:0 0 0 -255px;padding:5px 10px;background: #dff6dd;border:1px solid #c4e4b1;}
      #login_form .flashbox {position:relative;top:0;left:0;width:auto;clear:both;margin:10px 0 25px;padding:1em 10px;}
      .flashbox ul {margin:0;padding:0;list-style-type:none;}
        .flashbox li {margin:0 0 0 3px;padding:5px 5em 5px 10px;border-bottom:1px solid #c4e4b1;position:relative;}
        #login_form .flashbox li {padding:0 5em 0 0;}
          .flashbox li:last-child, .flashbox li.last-child {border:0 none;}
      .flashbox .close{position:absolute;right:20px;top:10px;}
        #login_form .flashbox .close {top:1em;right:10px;}

  /*FILTER*/
    .filter {position:relative;top:1.4em;clear:right;margin:0 0 1.4em;padding:10px 8px;border:1px solid #DDDDDD;border-width:1px 1px 0;}
      .list_wrapper .filter {top:25px;margin-bottom:25px;}
      .cloned_filter {top:0;margin:0 0 4.8em;border-width:0 1px 1px;}
        .list_wrapper .cloned_filter {top:0;margin-bottom:4.8em}
      .list_wrapper .cloned_filter {margin:0 0 28px;}
      .filter .toggler {position:absolute;right:8px;top:-25px;z-index:20;height:24px;padding:0 0 0 8px;line-height:24px;background: url(../images/bgr/toggler.png) no-repeat 0 0;}
        .closedFilter .toggler {top:-23px}
        .cloned_filter .toggler {top:auto;bottom:-25px;background-position:0 -24px;}
        .filter .toggler span {display:block;height:24px;padding:0 18px 0 0;background: url(../images/bgr/toggler.png) no-repeat right -48px;}
          .filter .closingToggler span {background-position:right -48px;}
          .filter .openingToggler span {background-position:right top;}
        .cloned_filter .toggler span {background-position:right -72px ;}
          .cloned_filter .closingToggler span {background-position:right -72px;}
          .cloned_filter .openingToggler span {background-position:right -24px;}
      .closedFilter {padding:1px;border:0 none;}
        .closedFilter form {display:none;}


  /*TABS*/
    .bookmarks {list-style:none;margin:0 0 0 9px;padding:0;}
      .bookmarks:after {content: '.';display: block;clear:both;visibility: hidden;height:0;font-size:0;}
      .bookmarks li {float:left;margin:0 3px 0 0;padding:0 0 0 15px;height:23px;background:#eeeeee url(../images/bgr/tab.png) no-repeat left top;cursor:pointer}
        .bookmarks a {padding:0 15px 0 0;display:block;height:23px;line-height:23px;background:url(../images/bgr/tab.png) no-repeat right top;}
      .bookmarks .active {background:#7d7d7d url(../images/bgr/tab_current.png) no-repeat left top;}
        .bookmarks .active a {background:url(../images/bgr/tab_current.png) no-repeat right top;}
    .bookmarks_content {min-height:330px;height:330px;border:1px solid #ddd;border-top:3px solid #7d7d7d;border-bottom:0px;clear:both;padding:10px 8px 1px;}
      html > body .bookmarks_content {height:auto;}
    .popup_content {min-height:330px;height:330px;border:1px solid #ddd;border-top:3px solid #7d7d7d;border-bottom:0px;clear:both;padding:10px 8px 1px;}
      html > body .popup_content {height:auto;}


  /*LIST*/
    .list_wrapper {margin:-2.6em 0 5em;}
      .list_wrapper:after {content: '.';display: block;clear:both;visibility: hidden;height:0;font-size:0;}
      .list {clear:both;padding:0;margin:0 0 2.8em 1px;}
        .list_wrapper .list {margin-bottom:3px;}
        #popup_wrapper .list {margin:0 0 0 1px;}
        .list table {width:100%;}
          .list tr.odd {background-color:#ffffff;}
          .list tr.even {background-color:#f9f9f9;}
            .list th {padding:13px 8px;background-color:#e5e5e5;border:1px solid #bbbbbb;text-align:left;white-space:nowrap;}
            .list td {padding:5px 8px;border:1px solid #dddddd;text-align:left;vertical-align:middle;}
              .list th:first-child input, .list td:first-child input{display:block;margin:0 auto;}
              .list th.orders {width:42px}
                .list input.order {height:1.5em;width:3.4em;border:1px inset #aaa;padding:2px 3px 0;}
              .list td.actions {white-space:nowrap}
                .list td.actions img{vertical-align:middle;margin:5px;white-space:nowrap}
              .list ul {margin:0;padding:0;list-style-type:none;}
                .list ul li {margin:3px;}
        .list_actions {background: #e5e5e5;border:1px solid #bbb;margin-bottom:-1px;padding:3px 8px;clear:both;}
          #popup_wrapper .list_actions {text-align:right;}
          .list .list_actions {margin-left:-1px;}
          .list .list_actions:last-child {margin-top:-1px;}
          .list .list_actions .button_wrapper {margin:0 10px 0 0;}
         .list .priority {display:block;width: 30px; text-align: right;margin:0 auto;}

  /*MESSAGE ERROR*/
    .message_error {margin:0 9px 1em;}
      .message_error ol {margin:5px 0 0;}


  /*PAGER*/
    .pager {position:relative;z-index:15;float:right;clear:right;height:19px;margin:-2.6em 0 5px;padding:0 6px;}
      .list_wrapper .pager {margin-top:0;}
      .pager b {background: #7d7d7d;padding:1px 4px 1px 5px;margin:0 3px;vertical-align:middle;}
      .pager a {vertical-align:middle;margin:0 3px;}
        .pager a img {vertical-align:middle;}


/*layout*/

  #admin_panel {background:#31374f url(../images/bgr/admin_panel.png) repeat left top;height:38px;overflow:hidden;}
    #admin_panel #logo_project {float:left;margin:3px 0 8px 60px;}
    #admin_panel #user_data {float:right;margin:0 15px 0;padding:0;list-style-type:none;}
      #admin_panel #user_data li {float:left;margin:0 0 0 15px;padding:0 16px 0 0;line-height:36px;background: url(../images/bgr/user_data_item.png) repeat-y right top;}
        #admin_panel #user_data li:last-child {padding:0;background:none;}
        #admin_panel #user_data li a {line-height:36px;}

  /*MAIN MENU*/
    #main_menu {margin:5px 0 0 15px;width:186px}
      .hiddenSidebar#wrapper #main_menu {display:none;}
      .hiddenSidebar#wrapper #context_help {display:none;}
      #main_menu img {position:absolute;left:7px;top:3px;vertical-align:middle;}
      #main_menu dt {position:relative;height:24px;margin:0 0 2px;padding:0 7px 0 27px;line-height:23px;background:#FCDEB3 url(../images/menu/bg.png) no-repeat 0 -24px;cursor:pointer;}
        #main_menu dt.current {background-color:#7D7D7D;background-position:0 0;}
        #main_menu ul {margin:0;padding:0;list-style-type:none;}
          #main_menu ul li {position:relative;margin:0 0 2px 21px;line-height:19px;padding:0 7px 0 27px;height:21px;}
            #main_menu ul li.current {background:#7D7D7D url(../images/menu/bg.png) no-repeat 0 -48px;}
            #main_menu ul li a {line-height:19px;}

  /*=CONTENT*/
    #popup_wrapper {margin:0 15px;padding:1px 0 0;}
    #wrapper {position:relative;min-width:1002px;min-height:100%;height:100%;}
      html>body #wrapper {height:auto;}
      #main_col {position:relative;z-index:10;float: right;width:100%;}
        #main_col_content {margin: 1px 15px 0 225px;padding:0 0 20px;}
        .hiddenSidebar#wrapper #main_col_content {margin-left:38px;}

      #header {position:relative;z-index:10;padding:0 10px 1px 1em;}
        #header:after {content: '.';display: block;clear:both;visibility: hidden;height:0;font-size:0;}
        #header .header_actions {float:left;margin:0 20px 1em 0;}
          #header .header_actions a {margin:0 15px 0 20px;}
            #header .header_actions a img {margin:0 0 0 -20px;vertical-align:middle;}

  /*=SIDEBAR*/
    #sidebar {position:relative;z-index:15;float: left;width:225px;margin: 0 -225px 0 0;}
      .hiddenSidebar#wrapper #sidebar {width:25px;}
      #sidebar .sidebar_toggler {position:relative;margin:1px 0 1px 1px;padding:5px 10px;width:198px;cursor:pointer;background-color:#E5E5E5;border:1px solid #BBBBBB;}
        .hiddenSidebar#wrapper .sidebar_toggler {padding:5px;position:absolute;top:0;bottom:0;width:10px;overflow:hidden;}
        #sidebar .sidebar_toggler .arrow {position:absolute;right:10px;top:50%;margin:-0.5em 0 0;}
          .hiddenSidebar#wrapper .sidebar_toggler .text {display:none;}
          .hiddenSidebar#wrapper .sidebar_toggler .arrow {left:50%;margin:-0.5em 0 0 -0.3em;}
    #context_help {margin:5px 0 0 15px;width:186px}
      #context_help dt {position:relative;height:24px;margin:0 0 2px;padding:0 7px 0 27px;line-height:23px;background:#FCDEB3 url(../images/menu/bg.png) no-repeat 0 -24px;cursor:pointer;}
      #context_help dt img {position:absolute;left:7px;top:3px;vertical-align:middle;}


  /*LOGIN FORM*/
    #login_form_wrapper {position:absolute;left:50%;top:50%;margin:-11em 0 0 -15em;width:30em;height:22em;}
      #login_form form {position:absolute;left:0;top:0;width:100%;height:100%;background-color:#fff;}
      #login_form .notify_zone {margin:10px 0 0;}
        #login_form #logo_limb {position:absolute;top:0;left:0;width:125px;height:100%;background-color:#3c435b;text-align:center;}
            #login_form #logo_limb img {position:absolute;left:50%;top:50%;margin:-14.5px  0 0 -55px;}
        #login_form #form_body {background-color:#fff;margin:0 10px 0 135px;padding:20px 0 0;}

        #login_form .shadow_left {position:absolute;top:0;left:-9px;width:9px;height:100%;font-size:0;}
          #login_form .shadow_left .top {position:absolute;top:0;left:0;width:9px;height:19px;background: url(../images/bgr/shadow/login_lt.png) no-repeat right top;}
          #login_form .shadow_left .center {position:absolute;top:19px;bottom:0;left:0;width:9px;background: url(../images/bgr/shadow/login_l.png) repeat-y right top;}
        #login_form .shadow_bottom {position:absolute;left:0;right:0;bottom:-14px;margin:0 -9px;height:14px;font-size:0;}
          #login_form .shadow_bottom .left {position:absolute;top:0;left:0;width:29px;height:14px;background: url(../images/bgr/shadow/login_bl.png) no-repeat left top;}
          #login_form .shadow_bottom .center {position:absolute;top:0;left:29px;right:29px;height:14px;background: url(../images/bgr/shadow/login_b.png) repeat-x left top;}
          #login_form .shadow_bottom .right {position:absolute;right:0;width:29px;height:14px;background: url(../images/bgr/shadow/login_br.png) no-repeat right top;}
        #login_form .shadow_right {position:absolute;top:0;right:-9px;width:9px;height:100%;font-size:0;}
          #login_form .shadow_right .top {position:absolute;top:0;left:0;width:9px;height:19px;background: url(../images/bgr/shadow/login_rt.png) no-repeat left top;}
          #login_form .shadow_right .center {position:absolute;top:19px;bottom:0;left:0;width:9px;background: url(../images/bgr/shadow/login_r.png) repeat-y left top;}

    #forgot_password_comment{margin:13px 0 0;}




/*FORM*/
  /* style for DL, DT, DD tags are deprecated */
  dl.field {clear:both;padding:0;margin:0 0 20px;padding:0 0 0 175px;}
    .field:after {content: '.';display: block;clear:both;visibility: hidden;height:0;font-size:0;}
    .field dt {position:relative;left:-175px;float:left;width:160px;text-align:right;margin:0 -160px 0 0;}
      .field dt label {margin:0;}
    .field dd {float:left;}
  .multiline, .left_side .field, .right_side .field {padding:0;}
    .multiline dt, .left_side .field dt, .right_side .field dt {left:0;float:none;width:auto;margin:0 0 3px;text-align:left;}
    .multiline dd, .left_side .field dd, .right_side .field dd {float:none;}
  
  .fieldset { width:100%; }
  .fieldset td { padding:8px 5px; }
  .fieldset td.field_name { text-align:right; white-space:nowrap; width: 15%; max-width: 250px }
  .fieldset tr.odd td { background-color:#F3F3F3; }
  
  label {margin:0 15px 0 0;}
  select{width:280px;border:solid 1px #B5B8C8;height:1.8em;background: url(../images/bgr/text-bg.png) repeat-x top left;border: 1px solid #B5B8C8;}
    select option {background:#fff;}
  .date3select{width:91px;}
  textarea {width:278px;height:100px;background:#fff url(../images/bgr/text-bg.png) repeat-x top left;border:1px solid #B5B8C8;}
  .form_buttons {background: #e5e5e5;border:1px solid #bbbbbb;margin:0 15px;padding:3px 10px;text-align:right;} /*deprecated*/
    .form_buttons .button_wrapper, #popup_wrapper .list_actions .button_wrapper {margin-left:10px;}
    #popup_wrapper .form_buttons {margin:0;} /*deprecated*/
  input[type="text"], input[type="password"] {width:278px;height:1.5em;background:#fff url(../images/bgr/text-bg.png) repeat-x top left;border: 1px solid #B5B8C8;}
  input[type="button"], input[type="submit"] {height:1.8em;padding:0 7px;border:1px solid #aaaaaa;background:#fff url(../images/bgr/button.png) repeat-x left bottom;}
    .form_buttons input[type="button"], .form_buttons input[type="submit"] {margin-left:10px;} /*deprecated*/
    #wrapper .list_actions input[type="button"], #wrapper .list_actions input[type="submit"] {margin-right:10px;}
    #popup_wrapper .list_actions input[type="button"], #popup_wrapper .list_actions input[type="submit"] {margin-left:10px;}
  .button_wrapper {display:-moz-inline-stack;display:inline-block;height:19px;padding:0 0 0 7px;vertical-align:middle;background: url(../images/bgr/button_nice.png) no-repeat left top;text-align:center;}
    .button_wrapper input[type="button"], .button_wrapper input[type="submit"] {display:block;height:19px;padding:0 7px 2px 0;line-height:18px;background: url(../images/bgr/button_nice.png) no-repeat right top;border:0 none;}
    .form_buttons .button_wrapper input[type="button"], .form_buttons .button_wrapper input[type="submit"] {margin-left:0;} /*deprecated*/
    #wrapper .list_actions .button_wrapper input[type="button"], #wrapper .list_actions .button_wrapper input[type="submit"] {margin-right:0;}
    #popup_wrapper .list_actions .button_wrapper input[type="button"], #popup_wrapper .list_actions .button_wrapper input[type="submit"] {margin-left:0;}

  #login_form .field {margin:0 0 10px;padding:0;}
    #login_form .field dt {left:0;float:none;display:block;width:auto;text-align:left;margin:0;}
    #login_form .field dd {float:none;}
    #login_form input[type="text"], #login_form input[type="password"] {width:12em;background-color:#f3f4f5;border:1px solid #717171;font-weight:bold;}
    
  #filter_form label{margin:0;}
  #filter_form input[type='text'], #filter_form select {width:auto;margin:0 10px 0 0;}
