/*MICS*/
  body {background:#fff url('../images/1x1.gif') no-repeat;background-attachment: fixed;}
  .filter .toggler span {display:inline;zoom:1;}
    .filter-last .toggler {bottom:-26px;}
  .flashbox {zoom:1;position:absolute;top:expression(eval(document.documentElement.scrollTop)+ 'px');margin-top:10px;}
    .list th.first-child input, .list td.first-child  input {display:block;margin:0 auto;}
    .list td.last-child  img, .list th  img
      {
        width: expression(width);
        filter: expression( (runtimeStyle.filter == '') ? runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+src+"', sizingMethod='image')" : '',
              src = '/shared/cms/images/1x1.gif');
      }

/*CONTENT*/
  #admin_panel #user_data {margin-right:8px;}

  #header .header_actions a img
  {
    position:relative;
    left:-20px;
    width: expression(width);
    filter: expression( (runtimeStyle.filter == '') ? runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+src+"', sizingMethod='image')" : '',
              src = '/shared/cms/images/1x1.gif');
  }

  #login_form #logo_limb {height:expression(parseFloat(this.parentNode.offsetHeight));}

  #light_version
  {
    filter	: expression(
      (runtimeStyle.backgroundImage != 'none') ? runtimeStyle.filter = 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='+currentStyle.backgroundImage.split('\"')[1]+', sizingMethod=crop)' : runtimeStyle.filter,
      runtimeStyle.backgroundImage = 'none');
  }

  #main_menu ul{zoom:1;}
  #main_menu dt {padding-top:3px;height:21px;line-height:18px;}
  #main_menu ul li {padding-top:2px;height:19px;}
  #main_menu img
  {
    width: expression(width);
    filter: expression( (runtimeStyle.filter == '') ? runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+src+"', sizingMethod='image')" : '',
              src = '/shared/cms/images/1x1.gif');
  }

  #wrapper
  {
    width:expression(((document.documentElement.clientWidth || document.body.clientWidth) < 1002) ? '1002px' : '100%');
  }


/*FORM*/
  input {scrollbar-face-color: expression(runtimeStyle.scrollbarFaceColor = '#fff', className += ' input_'+type)}
  .input_text, .input_password {width:278px;height:1.5em;background:#fff url(../images/bgr/text-bg.png) repeat-x top left;border: 1px solid #B5B8C8;}
  .input_button, .input_submit {height:1.8em;padding:0;border:1px solid #aaaaaa;background:#fff url(../images/bgr/button.png) repeat-x left bottom;}
    .form_buttons .input_button, .form_buttons .input_submit{margin-left:10px;}
    #wrapper .list_actions .input_button,  #wrapper .list_actions .input_submit{margin-right:10px;}
    #popup_wrapper .list_actions .input_button, #popup_wrapper .list_actions .input_submit{margin-left:10px;}
  .button_wrapper {display:inline;zoom:1;padding:0 0 0 2px;}
    .button_wrapper .input_button, .button_wrapper .input_submit {display:block;height:19px;margin:0;padding:0 7px 0 0;line-height:18px;background: url(../images/bgr/button_nice.png) no-repeat right top;border:0 none;}
      .form_buttons .button_wrapper .input_button, .form_buttons .button_wrapper .input_submit{margin-left:0;}
      #wrapper .list_actions .button_wrapper .input_button,  #wrapper .list_actions .button_wrapper .input_submit{margin-right:0;}
      #popup_wrapper .list_actions .button_wrapper .input_button, #popup_wrapper .list_actions .button_wrapper .input_submit{margin-left:0;}

  #login_form .input_text, #login_form .input_password {width:12em;background-color:#f3f4f5;border:1px solid #717171;font-weight:bold;}

/*SHAODOWS*/
  #login_form .shadow_left .center {height:expression(parseFloat(this.parentNode.offsetHeight)-19);}
  #login_form .shadow_right .center {height:expression(parseFloat(this.parentNode.offsetHeight)-19);}
  #login_form .shadow_bottom {bottom:-15px;width:100%;padding:0 9px;}
    #login_form .shadow_bottom .center {width:expression(parseFloat(this.parentNode.offsetWidth)-58);}
  .shadow_left div, .shadow_right div, .shadow_bottom div
  {
    filter	: expression(
      (runtimeStyle.backgroundImage != 'none') ? runtimeStyle.filter = 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='+currentStyle.backgroundImage.split('\"')[1]+', sizingMethod=scale)' : runtimeStyle.filter,
      runtimeStyle.backgroundImage = 'none');
  }

