<core:wrap file="_cms/page.html" in="content_zone">

<fetch using='limb/cms/src/fetcher/lmbCmsNodeFetcher' target='node' first='true' >
  <fetch:param path='/images' node_id='{$#request.id}' />
</fetch>

<core:datasource id='node'>

<h1>Images</h1>

<core:include file='_cms/node_breadcrumbs.html'/>

<fetch using='limb/cms/src/fetcher/lmbCmsNodeKidsFetcher' target='subfolders'>
  <fetch:param controller='image_folder' parent_id='{$id}' />
</fetch>

<h2>Folders list</h2>

<route_url params="controller:admin_image_folder,action:create" extra='?popup=1&parent={$id}' onclick='return Limb.Http.click(this.href)' alt='Create folder' title='Create folder'>
  <img src='/shared/cms/images/icons/create_object.gif' alt='Create folder'/>
</route_url>

<form name='list_form' method='post'>

<list:list id='subfolders'>
<table cellpadding="0" cellspacing="0" class='list'>
  <thead>
  <tr>
   <th class='left'><input type='checkbox' onclick='MarkAll(checked);' name='mark_all' /></th>
   <th>Folder</th>
   <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <list:item>
    <tr>
      <td><input type='checkbox' name='ids[]' value='{$id}' class='input' runat='client'/></td>
      <td><route_url params='id:{$id}'>{$title}</route_url></td>
      <td><route_url params="controller:admin_image_folder,action:edit,id:{$id}" extra='?popup=1' onclick='return Limb.Http.click(this.href)'><img src='/shared/cms/images/icons/edit.gif' width='24' height='24' alt='Edit' /></route_url>&nbsp;&nbsp;
          <route_url params="controller:admin_image_folder,action:delete" extra='?popup=1&ids[]={$id}' onclick='return Limb.Http.click(this.href)'><img src='/shared/cms/images/icons/delete.gif' width='24' height='24' alt='Delete' /></route_url>
      </td>
    </tr>
  </list:item>
  </tbody>
</table>
  <br/>
  <route_url_set field='delete_url' params="controller:admin_image_folder,action:delete" />
  <input type='submit' value='Delete' onclick='Limb.Form.submit(this.form, "{$delete_url}?popup=1");return false;'/>
</list:list>

</form>

<fetch using='limb/cms/src/fetcher/lmbCmsNodeKidsFetcher' target='files' navigator='pager'>
  <fetch:param controller='image' parent_id='{$id}' />
</fetch>

<h2>Images list</h2>

<route_url params="controller:admin_image,action:create" extra='?popup=1&parent={$id}' onclick='return Limb.Http.click(this.href)'>
  <img src='/shared/cms/images/icons/create_object.gif' alt='Create image'/>
</route_url>

<core:include file='_cms/pager.html'/>

<form name='list_form' method='post'>

<list:list id='files'>
<table cellpadding="0" cellspacing="0" class='list'>
  <thead>
  <tr>
    <th><input type='checkbox' onclick='MarkAll(checked);' name='mark_all' /></th>
    <th>Icon</th>
    <th>Title</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <list:item>
    <tr>
      <td class='left'><input type='checkbox' name='ids[]' value='{$id}' class='input' runat='client'/></td>
      <td align='center'><img src='{$object.icon.show_url}'/></td>
      <td>{$title}</td>
      <td><route_url params="controller:admin_image,action:edit,id:{$id}" extra='?popup=1' onclick='return Limb.Http.click(this.href)'><img src='/shared/cms/images/icons/edit.gif' width='24' height='24' alt='Edit' /></route_url>&nbsp;&nbsp;
          <route_url params="controller:admin_image,action:delete" extra='?popup=1&ids[]={$id}' onclick='return Limb.Http.click(this.href)'><img src='/shared/cms/images/icons/delete.gif' width='24' height='24' alt='Delete' /></route_url>
      </td>
    </tr>
  </list:item>
  </tbody>
</table>
  <br/>
  <route_url_set field='delete_url' params="controller:admin_image,action:delete" />
  <input type='submit' value='Delete' onclick='Limb.Form.submit(this.form, "{$delete_url}?popup=1");return false;'/>
</list:list>

</form>

</core:datasource>
</core:wrap>
