<?php

$conf = array(
  'default_inherits_policy' => true,
  'default_allow_policy' => false,
  'roles' => array(
    'guest' => null,
    'member' => 'guest',
    'reader' => null,
    'admin' => array('member', 'reader')
  ),
  'resources' => array(
    'article' => null,
    'news' => null,
  ),
  'allow' => array(
    'member' => array(
      'article' => 'write',
      'news' => array('write', 'comment')
      '*' => 'read' // $acl->isAllowed('member', null, 'read') == true
    )
  ),
  'deny' => array(
    'guest' => 'admin_zone'
  )
);